// 데스크탑
$breakpoint-desktop: 1440px;

// 노트북
$breakpoint-laptop: 1280px;

// 패드 . 타블렛
$breakpoint-tablet: 1024px;

//아이패드 (768px)
$breakpoint-itablet: 768px;

// 모바일
$breakpoint-mobile: 576px;

// 모바일2 갤럭시
$breakpoint-galaxy: 425px;

// 모바일3 아이폰
$breakpoint-iphone: 344px;