@import "./mixin";

header{
    .top-banner{
        display: none;
    }
}

.container{
    padding: 10rem 0 10rem;
    .content{
        max-width: 1000px;
        margin: 50px auto;
        background-color: white;
        padding: 20px;
        form {
            //border-radius: 8px;
            // border: 2px solid;
            table {
                width: 100%;
                tr{
                    td{
                        line-height: 1.7;
                        hr { 
                            margin: 2rem 0;
                            border: 0;
                            height: 2px;
                            background: #d3d3d3;
                        }
                    }
                    .title{
                        fieldset{
                            padding: 20px 28px;
                            box-sizing: border-box;
                            border-radius: 12px;
                            border: 1px solid #b9b9b9;
                            background-color: #fff;
                            select{
                                display: block;
                                padding: 13px 80px 11px 10px;
                                border: 1px solid #ebecef;
                                background: #fff;
                                text-align: left;
                                box-sizing: border-box;
                                color: #000;
                                cursor: pointer;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                margin-bottom: 1rem;
                                option{
                                    
                                }
                            }
                            input{
                                min-height: 48px;
                                padding: 13px 16px 11px;
                                border: 1px solid transparent;
                                box-sizing: border-box;
                                border-radius: 10px;
                                background-color:#f7f7f7;
                                font-size: 16px;
                                line-height: 22px;
                                width: 100%;
                            }
                        }
                    }
                    .comment{
                        .text-box{
                            margin: 2rem 0 1rem;
                            padding: 20px 50px 20px 20px;
                            box-sizing: border-box;
                            border-radius: 12px;
                            border: 1px solid #b9b9b9;
                            background-color: #fff;
                            textarea {
                                vertical-align: top;
                                width: 100%;
                                padding: 20px 10px 0 10px;
                                min-height: 300px;
                                resize: none;
                                color: black;
                                outline: none;
                                border: none;
                            }
                        }
                        
                    }
                            
                    .imageUpload{
                        width: 100%;
                        margin-top: 1rem;
                        text-align: right;
                        h3{}
                        display: inline-block;
                        .upload-name {
                            width: 50%;
                            height: 30px;
                            padding: 0 15px;
                            vertical-align: middle;
                            border: 1px solid #dddddd;
                        }
                        label {
                            padding: 5px 20px;
                            color: #fff;
                            vertical-align: middle;
                            background-color: #616161;
                            cursor: pointer;
                            margin-left: 10px;
                        }
                        input[type="file"] {
                            position: absolute;
                            width: 0;
                            height: 0;
                            padding: 0;
                            overflow: hidden;
                            border: 0;
                        }
                        hr{
                            margin-top: 2rem;
                        }
                    }

                    .register-btn{
                        text-align: center;
                        input{
                            margin-top: 3rem;
                            border-radius: 4px;
                            border: none;
                            padding: 10px 40px;
                            font-size: 1rem;
                            color: #fff;
                            vertical-align: middle;
                            background-color: #616161;
                            cursor: pointer;
                        }
                    }
                }
                
            }

            

        }
    }
}

