header .top-banner {
  display: none;
}

.notice-board {
  padding: 14rem 0 14rem;
  min-height: 800px;
}
.notice-board .content {
  max-width: 1000px;
  margin: 50px auto;
  background-color: white;
  padding: 20px;
}
.notice-board .content h2 {
  font-weight: border;
  margin-bottom: 2rem;
}
.notice-board .content hr {
  border: 0;
  height: 2px;
  background: #d3d3d3;
}
.notice-board .content form {
  margin: 1rem 0;
}
.notice-board .content .writing {
  text-align: right;
}
.notice-board .content .writing .writing-btn {
  width: 100px;
  height: 40px;
  font-weight: 900;
  color: white;
  text-align: center;
  background: #535353;
  border: solid 2px white;
  border-radius: 5px;
}
.notice-board .content #cunsultListTable {
  margin: 2rem 0;
  width: 100%;
  border-top: 1px solid #d3d3d3;
  border-collapse: collapse;
}
.notice-board .content #cunsultListTable th {
  border-top: 2px solid #727272;
}
.notice-board .content #cunsultListTable th, .notice-board .content #cunsultListTable td {
  border-bottom: 1px solid #d3d3d3;
  padding: 10px;
}
.notice-board .content #cunsultListTable tr td {
  text-align: center;
  cursor: default;
}
.notice-board .content #cunsultListTable tr td:nth-child(2) {
  text-align: left;
  cursor: pointer;
}
.notice-board .content #cunsultListTable tr .cunsultBoxTd .cunsultBox {
  display: flex;
  gap: 16px;
  justify-content: flex-start;
}
.notice-board .content #cunsultListTable tr .cunsultBoxTd .cunsultBox span {
  flex: 1;
  text-align: center;
  cursor: default;
}
.notice-board .content #cunsultListTable tr .cunsultBoxTd .cunsultBox span:nth-child(1) {
  cursor: pointer;
}
.notice-board .content #cunsultPaging {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}
.notice-board .content #cunsultPaging .pagination {
  cursor: pointer;
  margin: 0 7px;
  padding: 2px;
  text-align: center;
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease-in-out;
}
.notice-board .content #cunsultPaging .pagination:hover {
  border-bottom: 2px solid #000;
}
.notice-board .content #cunsultPaging .selected {
  color: rgb(5, 155, 5);
  font-weight: bold;
  border-bottom: 2px solid rgb(5, 155, 5);
}
.notice-board .content .search-paging .select-search {
  padding: 1rem;
  background-color: #f8f8f8;
  text-align: center;
}
.notice-board .content .search-paging .select-search select {
  font-size: 12px;
  height: 29px;
  padding: 1px;
  border: 1px solid #ccc;
  background: #fff;
}
.notice-board .content .search-paging .select-search input {
  box-sizing: border-box;
  border-radius: 0;
  background: none;
}
.notice-board .content .search-paging .select-search .search-box {
  height: 29px;
  padding: 0 5px 1px 5px;
  font-size: 12px;
  font-weight: normal;
  border: 1px solid #ddd;
  background-color: #fff;
}
.notice-board .content .search-paging .select-search .search-btn {
  background: #535353;
  border: 1px solid #535353;
  color: #fff;
  padding: 3px 10px;
  line-height: 1.666;
  cursor: pointer;
  text-align: center;
}

/* 768px*/
@media screen and (max-width: 768px) {
  header .top-banner {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  header .top-banner {
    display: block;
  }
}
@media screen and (max-width: 576px) {
  .notice-board {
    padding: 15rem 0 6rem;
  }
  .notice-board .content {
    display: flex;
    flex-direction: column;
  }
  .notice-board .content .writing {
    order: 4;
  }
  .notice-board .content #cunsultListTable {
    order: 2;
  }
  .notice-board .content #cunsultListTable tr {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #d3d3d3;
  }
  .notice-board .content #cunsultListTable tr:nth-child(1) {
    display: none;
  }
  .notice-board .content #cunsultListTable tr td {
    border: none;
  }
  .notice-board .content #cunsultListTable tr td:nth-child(1) {
    display: none;
  }
  .notice-board .content #cunsultListTable tr td:nth-child(2) {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .notice-board .content #cunsultListTable tr .cunsultBoxTd .cunsultBox {
    white-space: nowrap;
    text-align: left;
    display: block;
    color: #838383;
  }
  .notice-board .content #cunsultListTable tr .cunsultBoxTd .cunsultBox span {
    margin-right: 10px;
  }
  .notice-board .content .pagination {
    order: 3;
  }
}
@media screen and (max-width: 344px) {
  .notice-board .content .search-paging .select-search {
    padding: 0.1rem;
  }
}/*# sourceMappingURL=cunsultList.css.map */