@import "./mixin";

header{
    .top-banner{
        display: none;
    }
}

.notice-board{
    padding: 14rem 0 14rem;
    min-height: 800px;
    .content{
            max-width: 1000px;
            margin: 50px auto;
            background-color: white;
            padding: 20px;
        h2 { 
            font-weight: border; 
            margin-bottom: 2rem;
        }

        hr { 
            border: 0;
            height: 2px;
            background: #d3d3d3;
        }

        form{
              margin: 1rem 0; 
              span{}
        }

        .writing {
            text-align: right;
            .writing-btn{
                width: 100px;
                height: 40px;
                font-weight: 900;
                color: white;
                text-align: center;
                background: #535353;
                border: solid 2px white;
                border-radius: 5px;
            }
        }

        #cunsultListTable{
            margin: 2rem 0;
            width: 100%;
            border-top: 1px solid #d3d3d3;
            border-collapse: collapse;

            th { 
                border-top: 2px solid #727272;
            }
            
            th, td {
                border-bottom: 1px solid #d3d3d3;
                padding: 10px;
            }
            tr{
                td{
                    text-align: center;
                    cursor: default;
                    &:nth-child(2){
                        text-align: left;
                        cursor: pointer;
                    }
                }
                .cunsultBoxTd{
                    .cunsultBox{
                        display: flex;
                        gap: 16px;
                        justify-content: flex-start;
                        span{
                            flex: 1;
                            text-align: center;
                            cursor: default;
                            &:nth-child(1){
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

        #cunsultPaging{
            display: flex;
            justify-content: center;
            margin: 3rem 0;
                .pagination{
                    cursor: pointer;
                    margin: 0 7px;
                    padding: 2px;
                    text-align: center;
                    display: inline-block;
                    padding-bottom: 2px; 
                    border-bottom: 2px solid transparent; 
                    transition: border-color 0.3s ease-in-out;
                    &:hover{
                        border-bottom: 2px solid #000; 
                    }
                }
                .selected {
                    color: rgb(5, 155, 5);
                    font-weight: bold;
                    border-bottom: 2px solid rgb(5, 155, 5); 
                }
        }

        .search-paging {
            .select-search{
                padding: 1rem;
                background-color: #f8f8f8;
                text-align: center;
                select{
                    font-size: 12px;
                    height: 29px;
                    padding: 1px;
                    border: 1px solid #ccc;
                    background: #fff;
                    option{}
                }

                input{
                    box-sizing: border-box;
                    border-radius: 0;
                    background: none;
                }

                .search-box{
                    height: 29px;
                    padding: 0 5px 1px 5px;
                    font-size: 12px;
                    font-weight: normal;
                    border: 1px solid #ddd;
                    background-color: #fff;
                }

                .search-btn {
                    background: #535353;
                    border: 1px solid #535353;
                    color: #fff ;
                    padding: 3px 10px;
                    line-height: 1.666;
                    cursor: pointer;
                    text-align: center;
                }
            }
            
        }  
    }
}

/* 768px*/
@include itablet{
    header{
        .top-banner{
            display: block;
        }
    }  
}
@include itablet-landscape{
    header{
        .top-banner{
            display: block;
        }
    }  
}

// 576px
@include mobile{
    .notice-board {
        padding: 15rem 0 6rem;
        .content {
            display: flex;
            flex-direction: column;
            .writing{
                order: 4;
            }

            #cunsultListTable{
                order: 2;
                tr{
                    display: flex;
                    flex-direction: column;
                    border-bottom: 1px solid #d3d3d3;
                    &:nth-child(1){
                        display: none; 
                        // th 숨김
                    }
                    td{
                        &:nth-child(1){
                            display: none; 
                            // td 번호 숨김
                        }
                        &:nth-child(2){
                            font-size: 1.2rem;
                            font-weight: bold;
                        }
                        border: none;
                    }
                    .cunsultBoxTd{
                        .cunsultBox{
                            white-space: nowrap;
                            text-align: left;
                            display: block;
                            color: #838383;
                            span{
                                //display: inline-block;
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
            .pagination{
                order: 3;
            }
        }
    }
}

// 344px;
@include iphone{
    .notice-board {
        .content {
            .search-paging {
                .select-search{
                    padding: 0.1rem;
                }
            }
        }
    }
}