@import "./mixin";

header{
    .top-banner{
        display: none;
    }
}


.container{
    padding: 15rem 0 15rem;
    .content{
        max-width: 1000px;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        // background-color: #f9f9f9;
        .title {
            color: green;
            font-size: 14px;
            margin-bottom: 10px;
        }
        
        .post{
            position: relative;
            .post-title {
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 10px;
            }
            .post-meta {
                
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                .thumb {
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    margin-right: 10px;
                }
                .infoItem{
                    .nickname{
                        font-size: 14px;
                    }
                    .article-info{
                        font-size: 12px;
                        color: gray;
                    }
                }
            }
            hr{
                margin: 2rem 0;
                border: 0;
                height: 2px;
                background: #d3d3d3;
            }
            .post-content {
                white-space: break-spaces;
                font-size: 16px;
                margin: 2rem 0;
            }
            #modOrDel{
                position: absolute;
                right: 0;
                top: 0;
                input[type="button"] {
                    margin: 2px;
                    padding: 5px 15px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    cursor: pointer;
                    &:hover{
                        background: #616161;
                        color: white;
                    }
                }

            }
        }
        

        
        .comment-section {
            border-top: 2px solid #ddd;
            padding-top: 10px;

            .reply-box{
                display: flex;
                gap: 1rem;
                margin: 1rem 0;
                #like{
                    cursor: pointer;
                }
                .comment-header {
                    display: flex;
                    justify-content: space-between;
                    font-size: 14px;
                    margin-bottom: 10px;
                }
                
            }
            #comment {
                #displayComment{    
                    .commentLevel1,
                    .commentLevel2 {
                        border-bottom: 1px solid #eee;
                        padding: 10px 0;
                        display: flex;
                        align-items: flex-start;
                        gap: 15px;

                        img {
                            width: 40px ;
                            height: 40px ;
                            border-radius: 50%;
                            flex-shrink: 0;
                        }

                        .commentContent {
                            position: relative;
                            flex-grow: 1;
                            strong {
                            display: block;
                            font-weight: bold;
                            margin-bottom: 5px;
                            }

                            p {
                            margin: 15px 0;
                            }

                            .commentButtons {
                            font-size: 12px;
                            color: gray;
                            margin-top: 5px;
                                span{
                                    margin-right: 10px;
                                }
                                .reReplyButton {
                                cursor: pointer;
                                }
                                .inpButtons{
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    input{
                                        
                                        &:nth-child(1){
                                            margin-right: 10px;
                                            
                                        }
                                    }
                                }
                            }
                        }

                        .editComment{
                            width: 100%;
                            margin: 3rem 0;
                            padding: 16px 10px 10px 18px;
                            border: 2px solid #ccc;
                            border-radius: 6px;
                            box-sizing: border-box;
                            background: transparent;
                            textarea{
                                overflow: hidden;
                                overflow-wrap: break-word;
                                display: block;
                                width: 100%;
                                min-height: 45px;
                                padding-right: 1px;
                                border: none;
                                font-size: 13px;
                                resize: none;
                                box-sizing: border-box;
                                background: transparent;
                                outline: 0;
                            }
                            .editButtons{
                                float: right;
                                input{
                                    margin: 2px;
                                    padding: 5px 15px;
                                    border: 1px solid #ccc;
                                    border-radius: 4px;
                                    cursor: pointer;
                                    &:nth-child(1){
                                        background: #616161;
                                        color: white;
                                    }
                                }
                            }
                        }
                        
                    }
                    .writeReComment{
                        margin: 1rem 0;
                        padding: 16px 10px 10px 18px;
                        border: 2px solid #ccc;
                        border-radius: 6px;
                        box-sizing: border-box;
                        background: transparent;
                        textarea{
                            overflow: hidden;
                            overflow-wrap: break-word;
                            display: block;
                            width: 100%;
                            min-height: 40px;
                            padding-right: 1px;
                            border: none;
                            font-size: 13px;
                            resize: none;
                            box-sizing: border-box;
                            background: transparent;
                            outline: 0;
                        }
                        .reWrapper{
                            display: flex;
                            justify-content: flex-end;
                            input{
                                margin: 2px;
                                padding: 5px 15px;
                                border: 1px solid #ccc;
                                border-radius: 4px;
                                cursor: pointer;
                            }
                        }
                    }
                    .commentLevel2 {
                        margin-top: 10px;
                        img{
                            margin-left: 50px;
                        }
                    }
                }


                #writeComment{
                    margin: 3rem 0;
                    padding: 16px 10px 10px 18px;
                    border: 2px solid #ccc;
                    border-radius: 6px;
                    box-sizing: border-box;
                    background: transparent;
                    .comment-inbox{
                        position: relative;
                        margin-bottom: 10px;
                        .nickname{
                            display: block;
                            margin-bottom: 10px;
                            font-weight: 700;
                            font-size: 13px;
                            h3{}
                        }
                        .write-content{
                            overflow: hidden;
                            overflow-wrap: break-word;
                            display: block;
                            width: 100%;
                            min-height: 17px;
                            padding-right: 1px;
                            border: none;
                            font-size: 13px;
                            resize: none;
                            box-sizing: border-box;
                            background: transparent;
                            outline: 0;
                        }
                    }
                    .comment-attach{
                        position: relative;
                        .register-box{
                            float: right;
                            input{
                                margin: 2px;
                                padding: 5px 15px;
                                border: 1px solid #ccc;
                                border-radius: 4px;
                                cursor: pointer;
                            }
                        }
                        &::after{
                            content: "";
                            display: block;
                            clear: both;
                        }
                    }
                }
            }
            
        }
        .list-frame{
            text-align: right;
            input{
                margin: 2px;
                padding: 5px 15px;
                border: 1px solid #ccc;
                border-radius: 4px;
                cursor: pointer;
                background: #616161;
                color: white;
                
            }
        }
    }
}

/* 768px*/
@include itablet{
    header{
        .top-banner{
            display: block;
        }
    } 
    .container{
        padding: 18rem 0 8rem;
        .content{
            margin: 0 20px;
        }
    }
}

@include itablet-landscape{
    header{
        .top-banner{
            display: block;
        }
    }  
    .container{
        padding: 20rem 0 8rem;
        .content{
            margin: 0 20px;
        }
    }
} 

// 425px
@include galaxy{
    .container {
        .content {
            .post {
                .post-meta {
                    .thumb{
                        width: 35px;
                        height: 35px;
                    }
                }
                #modOrDel{
                    input{
                        padding: 3px 7px;
                        font-size: 12px;
                    }
                }
            }
            .comment-section {
                #comment {
                    #displayComment{    
                        .commentLevel1,
                        .commentLevel2 {
                            gap: 8px;
                            img{
                                width: 35px !important;
                                height: 35px !important;
                            }
                            .commentContent {
                                .commentButtons{
                                    font-size: 11px;
                                    .commentCreatedAt{
                                        margin-right: 5px;
                                    }
                                    .reReplyButton{
                                        margin-right: 5px;
                                    }
                                }
                            }
                            .editComment{
                                .editButtons{
                                    input{
                                    padding: 3px 7px;
                                    font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                    #writeComment {
                        .comment-attach {
                            .register-box{
                                input{
                                    padding: 3px 7px;
                                    font-size: 12px;                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}
