body{
  margin: 0 auto;
  overflow-x: hidden;
}
a{
  text-decoration-line :none;
  color: black;
}
.notice-board{
  .content{
    max-width: 1000px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    h2 { 
      font-weight: border; 
    }
  
    hr { 
      border: 0;
      height: 2px;
      background: #d3d3d3;
    }
    form{
      margin: 1rem 0; 
      span{}
    }

    table {
      margin: 2rem 0;
      width: 100%;
      border-top: 1px solid #d3d3d3;
      border-collapse: collapse;
      
      th { 
        //background-color: #ececec; 
        border-top: 2px solid #727272;
      }
    
      th, td {
        border-bottom: 1px solid #d3d3d3;
        padding: 10px;
      }
      tr{
        .left {
          text-align: left;
        }
        .center {
          text-align: center;
        }
      }
    }
    .writing {
      text-align: right;
      .writing-btn{
        width: 100px;
        height: 40px;
        font-weight: 900;
        color: white;
        text-align: center;
        background: #535353;
        border: solid 2px white;
        border-radius: 5px;
      }
    }
    .pagination{
      text-align: center;
      a {
        color: black;
        text-decoration-line: none;
      }
    }
    .search-paging {
      .select-search{
        padding: 1rem;
        background-color: #f8f8f8;
        text-align: center;
        select{
          font-size: 12px;
          height: 29px;
          padding: 1px;
          border: 1px solid #ccc;
          background: #fff;
          option{}
        }
        input{
          box-sizing: border-box;
          border-radius: 0;
          background: none;
        }
        .search-box{
          height: 29px;
          padding: 0 5px 1px 5px;
          font-size: 12px;
          font-weight: normal;
          border: 1px solid #ddd;
          background-color: #fff;
        }
        .search-btn {
          background: #535353;
          border: 1px solid #535353;
          color: #fff ;
          padding: 3px 10px;
          line-height: 1.666;
          cursor: pointer;
          text-align: center;
        }
      }
      
    }  
  }

}


  

  
  

  
  
  
  
  