@import "./mixin";

header{
    .top-banner{
        display: none;
    }
}

.container{
    padding: 14rem 0 14rem;
    min-height: 800px;
    .content{
        padding: 0 6rem;
        margin: 60px auto 0;
        background-color: rgb(255, 255, 255);


        .pc-type{
            text-align: center;
            .btn-home{
                img{
                    transform: translate(13rem, -1rem);
                    width: 30px;
                    height: 30px;
                }
            }
            h1{
                margin-bottom: 20px;
                font-weight: bold;
            }
        }

        .mobil-type{
            display: none;
        }

        #loginForm{
            margin: 0 auto;
            width: 450px;
            .formInput{
                display: block;
                margin-bottom: 0.5em;
                .blind{
                    position: absolute;
                    height: 1px;
                    width: 1px;
                    overflow: hidden;
                    clip: rect(1px, 1px, 1px, 1px);
                    clip: rect(1px 1px 1px 1px);
                    word-break: initial;
                    word-wrap: initial;
                }
                input{
                    width: 100%;
                    height: 50px;
                    padding: 13px 15px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                    color: #222;
                    outline: none;
                    vertical-align: top;
                }
            }

            .check {
            margin-top: 2rem;

            .inp {
                padding-right: 1rem;

                input {
                    display: none;
                }

                label {
                    display: inline-block;
                    position: relative;
                    cursor: pointer;
                    padding-left: 2rem;
                    padding-right: 1rem;
                    min-height: 2rem;

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 1.3rem;
                        height: 1.3rem;
                        border-radius: 50%;
                        background: #fff url(../img/check.svg) no-repeat center/1.3rem auto;
                        transition: background-color 0.3s ease;
                    }
                }

                input:checked + label::before {
                    background-color: rgb(83, 83, 83);
                }
            }
            }

            .boxBtnGroup{
                margin-top: 40px;
                width: 100%;
                justify-content: center;

                .btnInp{
                    width: 100%;
                    margin-bottom: 1rem;
                    input{
                        width: 100%;
                        min-width: 240px;
                        height: 60px;
                        line-height: 58px;
                        padding: 0 30px;
                        font-size: 18px;
                        border: 1px solid;
                        border-radius: 4px;
                        background-color: rgb(83, 83, 83);
                        border-color: rgb(83, 83, 83);
                        color: #ffffff;
                        
                    }
                    &:nth-child(2){
                        input{
                            background-color: #ffffff;
                            border-color: #757575;
                            color:#757575;
                        }
                    }
                }
                
            }

            .formLink{
                margin-top: 20px;
                display: flex;
                justify-content: flex-end;
                a{
                    text-decoration-line: none;
                    color: #757575;
                }
                span{
                    display: block;
                    width: 1px;
                    height: 13px;
                    margin: 3px 6px 0px;
                    background-color: #757575;
                }
            }

            .non-member{
                margin-top: 50px;
                width: 100%;
                .member-order{
                    width: 100%;
                    input{
                        width: 100%;
                        min-width: 240px;
                        height: 60px;
                        line-height: 58px;
                        padding: 0 30px;
                        font-size: 18px;
                        border: 1px solid;
                        border-radius: 4px;
                        background-color: #ffffff;
                        border-color: #757575;
                        color:#757575;
                    }
                }
            }
        }
    }

    
}

/* 768px*/
@include itablet{
    .header{display: none;}

    .container{
        padding: 0;
        .content{
            padding: 0 2rem;
            margin: 40px auto 0;
            .pc-type{display: none;}

            .mobil-type{
                display: flex;
                position: relative;
                z-index: 2;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 5rem;
                background: #fff;
                color: #1d1d1d;
                z-index: 1;
                .tit-wrap{
                    display: flex;
                    align-items: center;
                    .btn-back{
                        width: 4.8rem;
                        height: 5.3rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-left: -2rem;
                        background: url(../img/닫기.svg) no-repeat 50% 50% / .8rem 1.4rem;
                        .hidden{
                            overflow: hidden;
                            clip: rect(0, 0, 0, 0);
                            width: 1px;
                            height: 1px;
                            margin: -1px;
                            padding: 0;
                            border: 0;
                        }
                    }
                    .header-sub-tit{
                        overflow: hidden;
                        text-align: left;
                        font-size: 2rem;
                    }
                }
                .header-util{
                    .btn-home{
                        img{
                            width: 50px;
                            height: 50px;
                        }
                    }
                }
            }
            #loginForm{
                margin-top: 3rem;
                width: 100%;
            }
        }
        
    }

    .footer{display: none;}
}

/* 425px */
@include galaxy{
    .container{
        .content{
            .mobil-type{
                .tit-wrap{
                    .btn-back{
                        margin-left: 0rem;
                        width: 2rem;
                        height: 3rem;
                        background: url(../img/닫기.svg) no-repeat 50% 50% / 1rem 1rem;
                        .hidden{}
                    }
                    .header-sub-tit{
                        font-size: 1.2rem;
                    }
                }
                .header-util{
                    .btn-home{
                        img{
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }
            #loginForm{
                .check{
                    .inp{
                        label{
                            .ftext{
                                font-size: 0.8rem;
                                font-weight: 300;
                            }
                            &::before{
                                content: "";
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 1rem;
                                height: 1rem;
                                border-radius: 50%;
                                background: #fff url(../img/check.svg) no-repeat 0 0 / 1rem auto;
                                
                            }
                        }
                    }
                }
                .boxBtnGroup{
                    .btnInp{
                        input{
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}
