@import "./mixin";

/*데탑 1440px*/
@include desktop{

}

/*노트북 1024px*/
@include laptop{

}

/*패드 991px*/
@include tablet{
}

/*아이패드 768px*/
@include itablet{
    
    main{
        #health{
            padding: 9rem 0 0;
            background-color: #f4f4f4;
            .content{
                .he-img{
                    .he-bg{
                        height: 60vh;
                    }
                    .he-box{
                        position: relative;
                        top: 16rem;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        .he-container{
                            .he-wrapper{
                                .he-sw{
                                    margin: 0 auto;
                                    text-align: center;
                                    &:nth-child(1){
                                        transform: translate(-25%, 30%);
                                    }
                                    &:nth-child(2){
                                        transform: translate(-2%, -3%);
                                    }
                                    &:nth-child(3){
                                        transform: translate(-18%, -29%);
                                    }
                                    img{
                                      width: 250px;
                                    }
                                      
                                  }
                            }
                        }
                        .he-tit{
                            right: 7rem;
                            bottom: 16rem;
                        }
                    }
                    
                }
                .he-fix{
                    h2{
                        font-size: 5vw;
                    }
                }
            }
        }

        #story{
            .content{
                article{
                    
                    &:nth-child(odd){
                        flex-direction: column-reverse;
                    }
                    &:nth-child(even){
                        flex-direction: column;
                        color: #ffffff;
                        background-color: #adbb84;
                    }

                    .st-img{
                        width: 100%;
                        img{
                            max-width: 100%;
                        }
                    }
                    .st-tet{
                        width: 100%;
                        padding: 5rem 0 5rem 0 ;
                        position: relative;
                        h2{
                            font-size: 10vw;
                        }
                        h3{
                            font-size: 5vw;
                        }
                        .st-more{
                            right: 0;
                            position: absolute;
                            bottom: -36rem;
                            a{  
                                border: none;
                                color: #ffffff;
                                padding: 1rem 3rem;
                                font-size: 1.2rem;
                                background-color: #00000065;
                                span{}
                            }
                        }
                    }
                }
                
            }
            
        }

        #program52{
            .content{
                .flex-52{
                    .tet-52{
                        width:80%; 
                      h2{
                        font-size: 8vw;
                      }
                    }
                    .swiper-container3{
                        display: none;
                    }
                    .nosw{
                        margin: 4rem 3rem 0;
                        .nowra{
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            grid-template-rows: repeat(2, 1fr);
                            grid-gap: 1.5rem;
                            .nogrid{
                                text-align: center;
                                &:nth-child(5){
                                    grid-column: 3 / 1;
                                    grid-row-start: 3;
                                }
                                img{
                                    //border: 1px solid;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
          }

        #shoppingmall{
            height: 100%;
            position: relative;
            .content{
                padding: 5rem 0;
                flex-direction: column-reverse;
                .shop-img{
                    width: 100%;
                    text-align: center;
                    margin-bottom: 8rem;
                    img{
                        max-width: 100%;
                        height: auto;
                    }
                }
                .shop-tet{
                    width: 100%;
                    padding: 0;
                    align-items: center;
                    div{
                        display: flex;
                        h3{
                            font-size: 5vw;
                            font-weight: bold;
                            margin-right: 0.5rem;
                        }
                        h2{font-size: 5vw;}
                    }
                    h4{
                        text-align: center;
                        font-size: 3.5vw;
                    }
                    .shop-now{
                        
                        position: absolute;
                        bottom: 3rem;
                        right: 0;
                        a{
                            padding: 1rem 3rem;
                            font-size: 1rem;
                            span{}
                        }
                    }
                }
            }
        }

        #resetprogram{
            height: 100%;
            .content{
                padding: 5rem 0;
                flex-direction: column;
                justify-content: center;
                .rst-tet{
                    margin-left: 0;
                    text-align: center;
                    margin-bottom: 2rem;
                    h2{
                        font-size: 6vw;
                    }
                    h4{
                        font-size: 3.5vw;
                    }
                }
                .ret-img{
                    margin-left: 0;
                    width: 500px;
                    height: 500px;
                    overflow: hidden;
                    
                    img{
                        border-radius: 50%;
                        max-width: 100%;
                    }
                }
            }
        }

        #cs{
            .content{
                height: 50vh;
                .cs-img{

                }
                .cs-tet{
                    article{
                        display: none;
                        h2{}
                        h4{}
                    }
                }
            }
        }

        #event{
            .content{
                .ev-tet{
                    h2{font-size: 10vw;}
                    h4{font-weight: bold;}
                }
                .swiper-container2{
                    padding-top: 3rem;
                    .swiper-wrapper{
                        .swiper-slide{
                            .ev-sw-img{
                                padding-bottom: 0;
                                img{
                                    border: none;
                                    border-radius: 0;
                                }
                            }
                            .ev-sw-tet{
                                border: 2px solid #00000002;
                                background-color: #ffffff;
                                padding: 1rem 8rem;
                                h3{}
                                h4{}
                            }
                        }
                    }
                }
            }
        }

        #top-btn{
            bottom: 110px;
            right: 20px;
        }

    }
    
}

/* 모바일 767px*/
@include mobile{
    
}

/* 모바일2 576px */
@include mobile2{
    main{
        #health{
            .content{
                .he-img{
                    .he-box{
                        top: 13rem;
                        .he-container{
                            .he-wrapper{
                                .he-sw{
                                    &:nth-child(1){
                                        transform: translate(-22%, 30%);
                                    }
                                    &:nth-child(2){
                                        transform: translate(-3%, -3%);
                                    }
                                    &:nth-child(3){
                                        transform: translate(-18%, -29%);
                                    }
                                    img{
                                        width: 200px;
                                    }
                                }
                            } 
                        }
                        .he-tit{
                            right: 5rem;
                            bottom: 15rem;
                        }
                    }
                }
            } 
        }
        #top-btn{
            bottom: 100px;
            width: 40px;
            height: 40px;
            font-size: 13px;
            right: 15px;
        }
    }
}

/* 모바일3 갤석시 425px */
@include galaxy{
    
    main{
        #health{
            padding: 5rem 0 0;
            .content{
                .he-img{
                    .he-box{
                        top: 12rem;
                        .he-container{
                            .he-wrapper{
                                .he-sw{
                                    img{
                                        width: 180px;
                                    }
                                    //position: relative;
                                    &:nth-child(1){
                                        transform: translate(-21%, 25%);
                                    }
                                    &:nth-child(2){
                                        transform: translate(1%, -5%);
                                    }
                                    &:nth-child(3){
                                        transform: translate(-16%, -36%);
                                    }
                                }
                            }
                        }
                        .he-tit{
                            right: 3rem;
                            p{
                                span{
                                    padding: 0;
                                }
                            &:nth-child(1){
                                right: 1.2rem;
                            }
                                
                            }
                        } 
                    }
                    
                }
            }
        }
        #story{}
        #program52{}
        #shoppingmall{
            padding: 0;
        }
        #resetprogram{
            padding: 5rem  0;
            .content{
                padding: 0;
                .ret-img{
                    height: auto;
                    img{
                        width: 300px;
                        height: 300px;
                    }
                } 
            } 
        }
        #cs{}
        #event{
            .content{
                .swiper-container2{
                    .swiper-wrapper{
                        .swiper-slide{
                            .ev-sw-img{
                                img{
                                    width: 300px;
                                    height: 300px;
                                }
                            }
                            .ev-sw-tet{
                                padding: 1rem 5rem;
                            } 
                        } 
                    } 
                } 
            } 
        }
    }
    
}


/* 모바일4 아이폰 344px */
@include iphone{
    main{
        #health{
            padding: 4rem 0 0;
            .content{
                .he-img {
                    .he-box {
                        top: 10rem;
                        .he-container {
                            .he-wrapper {
                                .he-sw{
                                    img{
                                        border: 5px solid white;
                                        width: 150px;
                                    }
                                    
                                }
                            }
                        }
                        .he-tit{
                            right: 2.5rem;
                        }
                    }
                }
            }
        }
    } 
    
}