header .top-banner {
  display: none;
}

.symbol {
  color: rgb(238, 106, 123);
  vertical-align: text-top;
  font-size: 0.8rem;
}

.container {
  padding: 15rem 0 15rem;
  min-height: 800px;
}
.container .content {
  width: 750px;
  margin: 0px auto;
  background-color: rgb(255, 255, 255);
}
.container .content .fromSignup {
  margin-bottom: 50px;
  font-size: 2rem;
  line-height: 35px;
  font-weight: bold;
  text-align: center;
  letter-spacing: -1px;
  color: rgb(80, 80, 80);
}
.container .content #signupSection .required {
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(87, 87, 87);
  font-size: 0.8rem;
  color: rgb(102, 102, 102);
  line-height: 17px;
  text-align: right;
}
.container .content #signupSection .list-form-area {
  padding: 0px;
}
.container .content #signupSection .list-form-area .form-item {
  display: inline-flex;
  width: 100%;
  padding: 15px 20px;
  border-bottom: 1px solid #dfdfdf;
}
.container .content #signupSection .list-form-area .form-item .form-tit {
  width: 139px;
  padding-top: 12px;
}
.container .content #signupSection .list-form-area .form-item .form-tit .title {
  color: black;
  font-weight: bold;
  line-height: 20px;
}
.container .content #signupSection .list-form-area .form-item .form-cont {
  flex: 1 1 0%;
}
.container .content #signupSection .list-form-area .form-item .form-cont .cont-box {
  padding-bottom: 0px;
}
.container .content #signupSection .list-form-area .form-item .form-cont .cont-box .save-inp {
  position: relative;
  height: 48px;
}
.container .content #signupSection .list-form-area .form-item .form-cont .cont-box .save-inp input {
  width: 100%;
  height: 46px;
  padding: 0px 11px 1px 15px;
  border-radius: 4px;
  border: 1px solid rgb(221, 221, 221);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(51, 51, 51);
  outline: none;
  box-sizing: border-box;
}
.container .content #signupSection .list-form-area .form-item .form-cont .cont-box .save-inp .mail-box {
  position: relative;
  height: 48px;
  border-radius: 4px;
  border: 1px solid rgb(221, 221, 221);
  display: flex;
  align-items: center;
}
.container .content #signupSection .list-form-area .form-item .form-cont .cont-box .save-inp .mail-box input {
  border: none;
}
.container .content #signupSection .list-form-area .form-item .form-cont .cont-box .save-inp .mail-box .at-sign {
  padding: 0px 4px;
}
.container .content #signupSection .list-form-area .form-item .form-cont .cont-box .save-inp .mail-box .down-but {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content #signupSection .list-form-area .form-item .form-cont .cont-box .save-inp .mail-box .down-but .empty {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(51, 51, 51);
  flex: 1 1 auto;
}
.container .content #signupSection .list-form-area .form-item .form-cont .cont-box .save-inp .mail-box .down-but .btn-select {
  width: 48px;
}
.container .content #signupSection .list-form-area .form-item .form-cont .cont-box .save-inp .mail-box .dropdown-btn {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 0.2s ease, opacity 0.2s ease;
  position: absolute;
  right: 0px;
  width: 165px;
  top: 47px;
  z-index: 100;
  border: 1px solid rgb(221, 221, 221);
  background-color: #ffffff;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.container .content #signupSection .list-form-area .form-item .form-cont .cont-box .save-inp .mail-box .dropdown-btn.active {
  height: auto;
  opacity: 1;
}
.container .content #signupSection .list-form-area .form-item .form-cont .cont-box .validator {
  position: relative;
  margin-top: 0.8rem;
  padding: 0 1.5rem;
  line-height: 1.3;
  letter-spacing: -0.06rem;
  font-size: 0.8rem;
  color: #d91313;
}
.container .content #signupSection .list-form-area .form-item .form-cont .cont-box .validator::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.2rem;
  height: 1.2rem;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 1.2rem auto;
  background-image: url(../img/validator.svg);
}
.container .content #signupSection .list-form-area .form-item .form-cont .cont-box .date-bundle {
  height: 46px;
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 3px;
  padding: 0px 15px;
}
.container .content #signupSection .list-form-area .form-item .form-cont .cont-box .date-bundle .box-date {
  padding-bottom: 0px;
}
.container .content #signupSection .list-form-area .form-item .form-cont .cont-box .date-bundle .box-date div {
  position: relative;
  height: 40px;
}
.container .content #signupSection .list-form-area .form-item .form-cont .cont-box .date-bundle .box-date div input {
  text-align: center;
  font-size: 14px;
  border: none;
  width: 100%;
  height: 40px;
  padding: 0px 11px 1px 15px;
  border-radius: 4px;
  font-weight: 400;
  line-height: 38px;
  color: rgb(51, 51, 51);
  outline: none;
  box-sizing: border-box;
}
.container .content #signupSection .list-form-area .form-item .form-cont .cont-box .date-bundle .slash {
  height: 100%;
}
.container .content #signupSection .list-form-area .form-item .form-cont .cont-box .date-bundle .slash::after {
  content: "/";
  font-size: 14px;
  color: rgb(204, 204, 204);
  text-align: center;
  line-height: 40px;
}
.container .content #signupSection .list-form-area .form-item .form-cont .cont-box .box-gender {
  display: flex;
  gap: 3rem;
}
.container .content #signupSection .list-form-area .form-item .form-cont .cont-box .box-gender .gender-element {
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px 0px 9px;
  cursor: pointer;
}
.container .content #signupSection .list-form-area .form-item .form-cont .cont-box .box-gender .gender-element input {
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0px, 0px, 0px, 0px);
}
.container .content #signupSection .list-form-area .form-item .form-cont .cont-box .box-gender .gender-element .r-blank {
  min-width: 24px;
  min-height: 24px;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgb(221, 221, 221);
}
.container .content #signupSection .list-form-area .form-item .form-cont .cont-box .box-gender .gender-element .r-blank .r-check {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  transition: background-color 0.3s, border-color 0.3s;
}
.container .content #signupSection .list-form-area .form-item .form-cont .cont-box .box-gender .gender-element input[type=radio]:checked ~ .r-blank .r-check {
  background-color: rgb(83, 83, 83);
  border-color: rgb(83, 83, 83);
}
.container .content #signupSection .list-form-area .form-item .form-cont .cont-box .box-gender .gender-element .gender-all {
  position: relative;
  font-size: 14px;
  margin-left: 12px;
}
.container .content #signupSection .list-form-area .form-item .form-cont .m_address .address_postcode {
  overflow: hidden;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}
.container .content #signupSection .list-form-area .form-item .form-cont .m_address .address_postcode input {
  float: left;
  width: 190px;
  height: 46px;
  padding: 0px 11px 1px 15px;
  border-radius: 4px;
  border: 1px solid rgb(221, 221, 221);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(51, 51, 51);
  outline: none;
  box-sizing: border-box;
}
.container .content #signupSection .list-form-area .form-item .form-cont .m_address .address_postcode button {
  float: left;
  margin: 0 0 0 5px;
  padding: 10px 10px;
  border: 1px solid #989898;
}
.container .content #signupSection .list-form-area .form-item .form-cont .m_address .address_input {
  margin-bottom: 5px;
  float: left;
  width: 100%;
}
.container .content #signupSection .list-form-area .form-item .form-cont .m_address .address_input .member_warning {
  width: 100%;
  display: inline-block;
  position: relative;
  margin-bottom: 5px;
}
.container .content #signupSection .list-form-area .form-item .form-cont .m_address .address_input .member_warning input {
  width: 100%;
  height: 46px;
  padding: 0px 11px 1px 15px;
  border-radius: 4px;
  border: 1px solid rgb(221, 221, 221);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(51, 51, 51);
  outline: none;
  box-sizing: border-box;
}
.container .content #signupSection .list-form-area .form-item .blank-space {
  width: 120px;
  margin-left: 8px;
}
.container .content #signupSection .list-form-area .form-item .blank-space button {
  padding: 0 1rem;
  height: 44px;
  border-radius: 3px;
  border: 1px solid rgb(83, 83, 83);
}
.container .content #signupSection .list-form-area .form-item .blank-space button:hover {
  background-color: rgb(83, 83, 83);
  color: #ffffff;
}
.container .content #signupSection .signUpButton {
  display: flex;
  justify-content: center;
  border-top: 1px solid rgb(247, 247, 247);
  padding: 40px 0px;
}
.container .content #signupSection .signUpButton button {
  display: block;
  padding: 0px 10px;
  text-align: center;
  overflow: hidden;
  width: 240px;
  height: 56px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  background-color: rgb(83, 83, 83);
  border: 0px none;
}
.container .content #signupSection .signUpButton button span {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
}/*# sourceMappingURL=signup.css.map */