@import "./mixin";


body{
    overflow-x: hidden;
}

main{
    .container{
        padding: 20rem 0 14rem;
        min-height: 800px;
        .content{
            display: flex;
            // margin: 40px auto 0;
            max-width: 1410px;
            min-width: 1180px;
            padding: 0 50px;
            margin: 60px auto 0;
            .snbContainer{
                margin-top: 10px;
                width: 260px;
                
                .title{
                    h1{
                        
                    }
                }
                .snbMenu{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    border: 2px solid #e9e9e9;
                    margin: 2rem 1.5rem 0 0;
                    .snb-btn{
                        cursor: pointer;
                        width: 100%;
                        height: 60px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        line-height: 20px;
                        border-bottom: 1px solid #f2f2f2;
                        position: relative;
                        &:hover{
                            background-color: #f9f9f9;
                        }
                        &.active {
                            background-color: #f9f9f9 !important; // 강제 적용
                        }                  
                        input{
                            height: 100%;
                            width: 100%;
                            text-align: left;
                            padding: 0px 14px 0px 20px;
                            cursor: pointer;
                            background: none; // 부모 배경색 유지
                            border: none;
                        }
                        &::after {
                            content: "";
                            position: absolute;
                            display: block;
                            top: 25px;
                            right: 18px;
                            width: 12px;
                            height: 12px;
                            background: url(../img/arriw-right.svg) 50% 50% no-repeat;
                        }
                        
                    }

                }

            }
            .lnbContainer{
                flex: 1;
                margin-left: 10px;
                margin-top: 10px;

                .basic-type{
                    .pc-type{
                        text-align: center;
                        border-bottom: 2px solid rgb(51, 51, 51);
                        margin: 0 auto;
        
                        h2{
                            font-size: 2rem;
                            padding-bottom: 33px;
                            font-weight: bold;
                        }
                    }
            
                    .mobil-type{
                        display: none;
                            position: relative;
                            z-index: 2;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;
                            height: 5rem;
                            background: #fff;
                            color: #1d1d1d;
                            z-index: 1;
                            .tit-wrap{
                                display: flex;
                                align-items: center;
                                .btn-back{
                                    width: 4.8rem;
                                    height: 5.3rem;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    margin-left: -2rem;
                                    background: url(../img/닫기.svg) no-repeat 50% 50% / .8rem 1.4rem;
                                    .hidden{
                                        overflow: hidden;
                                        clip: rect(0, 0, 0, 0);
                                        width: 1px;
                                        height: 1px;
                                        margin: -1px;
                                        padding: 0;
                                        border: 0;
                                    }
                                }
                                .header-sub-tit{
                                    overflow: hidden;
                                    text-align: left;
                                    font-size: 2rem;
                                }
                            }
                            .header-util{
                                .btn-home{
                                    img{
                                        width: 50px;
                                        height: 50px;
                                    }
                                }
                            }
                    }
                }

                .section-cont{
                    position: relative;
                    .form-area{
                        display: flex;
                        flex-wrap: wrap;
                        padding: 3rem 5rem;
                        margin: 2rem 0;
                        background-color: #f8f8f8;
                        .search{
                            position: relative;
                            width: 100%;
                            background-color: white;
                            .tf{
                                width: 100%;
                                height: 4.4rem;
                                padding: 0 1rem;
                                font-size: 1rem;
                                font-weight: 400;
                                line-height: 4.4rem;
                                color: #1d1d1d;
                                border: 1px solid #e6e6e6;
                                border-radius: 3px; 
                            }
                            .btn-search{
                                cursor: pointer;
                                position: absolute;
                                right: 0;
                                top: 0;
                                height: 100%;
                                width: 5rem;
                                cursor: pointer;
                                background: url(../img/검색.svg) no-repeat 50% 50% / 2rem auto;
                                .hidden{
                                    overflow: hidden;
                                    clip: rect(0, 0, 0, 0);
                                    width: 1px;
                                    height: 1px;
                                    margin: -1px;
                                    padding: 0;
                                    border: 0;
                                }
                            }
                        }

                        
                    }
        
                    .all-category{
                        .contents-box{
                            // faq
                            #faqCategory{
                                padding-top: 2rem;
                                padding-bottom: 2rem;                   
                                .tab-button{
                                    cursor: pointer;
                                    margin: 2px;
                                    padding: 10px 20px;
                                    border: 1px solid #ccc;
                                    border-radius: 4px;
                                    cursor: pointer;
                                    &:hover{
                                        background-color: #494949;
                                        color: white;
                                    }
                                    &.active {
                                        background-color: #494949; /* 클릭된 버튼 색상 */
                                        color: white;
                                    }
                                }
                            }
                            #faqList{
                                border-top: 1px solid #999;
                                border-bottom: 1px solid #999;
                                .tab-content{
                                    .faq-box{
                                        
                                        .faq-question{
                                            position: relative;
                                            padding: 1.5rem 2rem;
                                            display: flex;
                                            cursor: pointer;
                                            &::after{
                                                content: "";
                                                position: absolute;
                                                display: inline-block;
                                                top: 28px;
                                                right: 2rem;
                                                width: 16px;
                                                height: 14px;
                                                background: url(../img/iconCateArrow.png) 50% 50% no-repeat;
                                                transition: transform ease;
                                            }
                                            &.open::after {
                                                transform: rotate(180deg); 
                                            }
                                            
            
                                            .faq-tit{
                                                display: inline-block;
                                                width: 50px;
                                            }
                                            .faq-subject{
                                                margin-right: 2rem;
                                            }
                                            .faq-tet{
                                                color: black;
                                            font-weight: bold;
                                            }
                                        }
                                        .faq-answer {
                                            padding: 1.5rem 2rem;
                                            display: none; 
                                            background-color: #f8f8f8;
                                            .faq-tit{
                                                
                                            }
                                            .faq-tet{
                                                line-height: 1.62;
                                                font-size: 16px;
                                            }
                                        }
            
                                    }
            
                                }
                                
                            }

                            // qna
                            #qnaList{
                                table{
                                    margin: 3rem 0;
                                    width: 100%;
                                    border-top: 1px solid #d3d3d3;
                                    border-collapse: collapse;

                                    th { 
                                        border-top: 2px solid #727272;
                                    }
                                    
                                    th, td {
                                        padding: 12px 10px;
                                        border-bottom: 1px solid #d3d3d3;
                                    }

                                    tr{
                                        td{
                                            text-align: center;
                                            &:nth-child(2){
                                                text-align: left;
                                                cursor: pointer;
                                            }
                                            &:nth-child(3){
                                                cursor: pointer;
                                            }
                                        }
                                    }
                                }
                            }
                            #qnaListPaging{
                                display: flex;
                                justify-content: center;
                                margin-top: 3rem;
                                .qnaPage{
                                    cursor: pointer;
                                    margin: 0 20px;
                                    padding: 2px;
                                    text-align: center;
                                    display: inline-block;
                                    padding-bottom: 2px; 
                                    border-bottom: 2px solid transparent; 
                                    transition: border-color 0.3s ease-in-out;
                                    &:hover{
                                        border-bottom: 2px solid #000; 
                                    }
                                    &.on {
                                        border: solid 1px;
                                        background-color: #fff;
                                        color: #03c75a;
                                    }
                                }
                            }
                        }
                    }

                .contents-box{}
                }

                .agent{
                    .inner-agent{
                        margin-top: 12rem;
                        display: flex;
                        height: 100%;
                        border: 2px solid #494949;
                        border-left: 0;
                        border-right: 0;
                        align-items: center;
                        justify-content: space-around;
                        .fq-service{
                            width: 50%;
                            margin-left: 2rem;
                            .tit-fq{
                                display: block;
                                margin-bottom: 1rem;
                                font-weight: bold;
                                font-size: 1.6rem;
                                color: #1d1d1d;
                                letter-spacing: -.08rem;
                            }
                            .list-service{
                                border-top: 1px solid #e3e3e3;
                                width: 60%;
                                li{
                                    border-bottom: 1px solid #e3e3e3;
                                    a{
                                        display: block;
                                        position: relative;
                                        padding: 1.5rem 1rem 1.5rem 0;
                                        font-size: 1.1rem;
                                        color: #1d1d1d;
                                        &::after{
                                            content: "";
                                            position: absolute;
                                            right: 0;
                                            top: 50%;
                                            width: .6rem;
                                            height: .6rem;
                                            margin-top: -.4rem;
                                            margin-right: .2rem;
                                            border-top: 1px solid #1d1d1d;
                                            border-right: 1px solid #1d1d1d;
                                            transform: rotate(45deg);
                                        }
                                    }
                                }
                            }
                        }
                        .call-help{
                            width: 100%;
                            position: relative;
                            padding: 4rem;
                            text-align: center;
                            background-color: #f8f8f8;
                            .call-img{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: #494949;
                                border-radius: 50%;
                                width: 3rem;
                                height: 3rem;
                                margin: 0 auto 1.5rem;
                                img{
                                    width: 1.5rem;
                                    height: 1.5rem;
                                }    
                            }
                            .tit-call{
                                display: block;
                                font-weight: bold;
                                font-size: 1.6rem;
                                letter-spacing: -.08rem;
                                line-height: 1.3;
                            }
                            .operate-time{
                                display: block;
                                margin: 1rem 0 2rem;
                                color: #1d1d1d;
                            }
                            .btn-call{
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                font-size: 1.3rem;
                                border-radius: 3px;
                                height: 3.5rem;
                                padding: 0 1rem;
                                font-weight: 500;
                                border-width: 1px;
                                border-style: solid;
                                width: 20rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* 768px*/
@include itablet{
    main{
        .container{
            padding: 0;
            .content{
                padding: 0 2rem;
                margin: 40px auto 0;

                .snbContainer{
                    .title{
                        h1{}
                    }
                    .snbMenu{
                        .snb-btn{
                            input{}
                        }
                    }
                }
                .lnbContainer{
                    .basic-type{
                        .pc-type{display: none;}
                        .mobil-type{
                            display: flex;
                        }
                    }
                    .section-cont{

                    }
                    .agent{

                    }
                }
                
            }
            
        }
    }

}

