@import "./mixin";

header{
    .top-banner{
        display: none;
    }
}

.container{
    padding: 15rem 0 15rem;
    min-height: 800px;
    .content{
        display: flex;
        max-width: 1410px;
        margin: 20px auto;
        padding: 20px;
        //background-color: #f9f9f9;
        .snbContainer{
            margin-top: 10px;
            width: 260px;
            
            .title{
                h1{
                    
                }
            }
            .snbMenu{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                border: 2px solid #e9e9e9;
                margin: 2rem 1.5rem 0 0;
                .snb-btn{
                    cursor: pointer;
                    width: 100%;
                    height: 60px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    line-height: 20px;
                    border-bottom: 1px solid #f2f2f2;
                    position: relative;
                    &:hover{
                        background-color: #f9f9f9;
                    }
                    &.active {
                        background-color: #f9f9f9 !important; // 강제 적용
                    }                  
                    input{
                        height: 100%;
                        width: 100%;
                        text-align: left;
                        padding: 0px 14px 0px 20px;
                        cursor: pointer;
                        background: none; // 부모 배경색 유지
                        border: none;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        display: block;
                        top: 25px;
                        right: 18px;
                        width: 12px;
                        height: 12px;
                        background: url(../img/arriw-right.svg) 50% 50% no-repeat;
                    }
                    
                }

            }

        }
        .lnbContainer{
            flex: 1;
            margin-left: 60px;
            margin-top: -5px;

            // 프로필
            .contents-box{
                #myProfile{
                    .title {
                        margin-bottom: 30px;
                        h2{
                            
                            margin-bottom: 10px;
                        }
                        p{
                            font-size: 14px;
                        }
                    }
                    form{
                        fieldset{
                            .tbl_model{
                                position: relative;
                                width: 100%;
                                table-layout: fixed;
                                border-spacing: 0;
                                border-collapse: collapse;
                                word-wrap: break-word;
                                word-break: keep-all;
                                border: 0;
                                border: 1px solid #ddd;
                                border-radius: 10px;
                                caption{
                                    display: none;
                                }
                                tbody{
                                    display: table-row-group;
                                    vertical-align: middle;
                                    unicode-bidi: isolate;
                                    border-color: inherit;
                                    tr{
                                        th{
                                            line-height: 14px;
                                            text-align: left;
                                            vertical-align: top;
                                            letter-spacing: -1px;
                                            border: 0;
                                            border-top: 1px solid #e5e5e5;
                                            color: #333;
                                            border-right: 1px solid #e5e5e5;
                                            background: #f9f9f9;
                                            .thcell{
                                                padding: 32px 31px 32px;
                                            }
                                        }
                                        td{
                                            line-height: 14px;
                                            text-align: left;
                                            vertical-align: top;
                                            letter-spacing: -1px;
                                            border: 0;
                                            border-top: 1px solid #e5e5e5;
                                            .tdcell{
                                                padding: 32px 31px 32px;
                                                .profile_photo{
                                                    img{
                                                        border: 0;
                                                        width: 130px;
                                                        height: 130px;
                                                        object-fit: contain;
                                                    }
                                                }
                                                .btn_area_btm{
                                                    overflow: visible;
                                                    position: relative;
                                                    height: 33px;
                                                    padding-top: 21px;
                                                    margin-left: -8px;
                                                    text-align: left;
                                                    .btn_file{
                                                        position: relative;
                                                        display: inline-block;
                                                        float: left;
                                                        margin-left: 8px;
                                                        label{
                                                            display: inline-block;
                                                            cursor: pointer;
                                                            font-size: 12px;
                                                            line-height: 14px;
                                                            display: inline-block;
                                                            vertical-align: top;
                                                            text-decoration: none !important;
                                                            b{
                                                                min-width: 52px;
                                                                min-height: 21px;
                                                                line-height: 15px;
                                                                padding: 8px 18px;
                                                                box-sizing: border-box;
                                                                border: 1px solid #bfbfbf;
                                                                background: #fff;
                                                                color: #333;
                                                            }
                                                        }
                                                        input{
                                                            position: absolute;
                                                            overflow: hidden;
                                                            clip: rect(0, 0, 0, 0);
                                                            width: 1px;
                                                            height: 1px;
                                                            margin: -1px;
                                                            padding: 0;
                                                            border: 0;
                                                        }
                                                    }
                                                }
                                                .contxt_webctrl{
                                                    input{
                                                        line-height: 27px;
                                                        float: left;
                                                        height: 27px;
                                                        padding: 0 0 0 7px;
                                                        vertical-align: top;
                                                        color: #333;
                                                        border: 1px solid #ccc;
                                                        opacity: 1;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .btn_wrap{
                                margin-top: 30px;
                                overflow: hidden;
                                text-align: center;
                                input{
                                    min-width: 128px;
                                    height: 38px;
                                    margin: 0 3px;
                                    padding: 0 15px;
                                    background-color: #535353;
                                    border-color: #535353;
                                    color: #fff;
                                    &:nth-child(2){
                                        background-color: #fff;
                                        border: 1px solid #535353;
                                        color: #535353;
                                    }
                                }
                            }
                        }
                    }
                }

            }
            // 내정보
            .contents-box{
                #myInfo{
                    .title{
                        margin-bottom: 30px;
                        h2{
                            margin-bottom: 10px;
                        }
                    }
                    .formList{
                        padding: 40px 0;
                        border-top: 1px solid #999;
                        border-bottom: 1px solid #ddd;
                        table{
                            width: 100%;
                            border-collapse: collapse;
                            table-layout: fixed;
                            border: 1px solid #ddd;
                            caption{
                                display: none;
                            }
                            colgroup{}
                            tbody{
                                display: table-row-group;
                                vertical-align: middle;
                                unicode-bidi: isolate;
                                border-color: inherit;                     
                                tr{
                                    display: table-row;
                                    vertical-align: inherit;
                                    unicode-bidi: isolate;
                                    border-color: inherit;
                                    th{
                                        border-right: 1px solid #e5e5e5;
                                        display: table-cell;
                                        vertical-align: top;
                                        background-color: #f8f8f8;
                                        color: #222;
                                        text-align: left;
                                        padding: 23px 20px 21px 20px;
                                        border-bottom: 1px solid #ddd;
                                    }
                                    td{
                                        border-top: 1px solid #e5e5e5;
                                        padding: 23px 20px 21px 20px;
                                        line-height: 26px;
                                        letter-spacing: -.2px;
                                        font-size: 17px;
                                        color: #222;
                                        font-weight: 500;
                                    }
                                }

                                .form-item-address{
                                    td{
                                        .form-cont{
                                            .m_address{
                                                .address_postcode{
                                                    overflow: hidden;
                                                    margin-bottom: 5px;
                                                    display: flex;
                                                    align-items: center;
                                                    input{
                                                        float: left;
                                                        width: 190px;
                                                        height: 46px;
                                                        padding: 0px 11px 1px 15px;
                                                        border-radius: 4px;
                                                        border: 1px solid rgb(221, 221, 221);
                                                        font-weight: 400;
                                                        font-size: 16px;
                                                        line-height: 1.5;
                                                        color: rgb(51, 51, 51);
                                                        outline: none;
                                                        box-sizing: border-box;
                                                    }
                                                    button{
                                                        float: left;
                                                        margin: 0 0 0 5px;
                                                        padding: 10px 10px;
                                                        border: 1px solid #989898;
                                                    }
                                                }
                                                .address_input{
                                                    margin-bottom: 5px;
                                                    float: left;
                                                    width: 100%;
                                                    .member_warning{
                                                        width: 100%;
                                                        display: inline-block;
                                                        position: relative;
                                                        margin-bottom: 5px;
                                                        input{
                                                            width: 100%;
                                                            height: 46px;
                                                            padding: 0px 11px 1px 15px;
                                                            border-radius: 4px;
                                                            border: 1px solid rgb(221, 221, 221);
                                                            font-weight: 400;
                                                            font-size: 16px;
                                                            line-height: 1.5;
                                                            color: rgb(51, 51, 51);
                                                            outline: none;
                                                            box-sizing: border-box;
                                                        }
                                                    }
                                                    .js_address_sub{}
                                                }
                                            }
                                        }
                                    }
                                }

                                .lineSection{
                                    td{
                                        .formchkArea{
                                            position: relative;
                                            .checkbox{
                                                position: relative;
                                                display: inline-block;
                                                line-height: 24px;
                                                font-size: 17px;
                                                input{
                                                    position: absolute;
                                                    top: 0;
                                                    left: 0;
                                                    width: 24px;
                                                    height: 24px;
                                                    z-index: 1;
                                                    vertical-align: middle;
                                                    opacity: 0 !important;
                                                }
                                                input+label {
                                                    display: inline-block;
                                                    position: relative;
                                                    padding-left: 32px;
                                                    z-index: 3;
                                                    vertical-align: top;
                                                    cursor: pointer;
                                                    &::before{
                                                        content: '';
                                                        position: absolute;
                                                        top: 0;
                                                        left: 0;
                                                        display: inline-block;
                                                        width: 24px;
                                                        height: 24px;
                                                        background: #fff url(../img/icoCheck.png) -1px 0 / 48px 24px no-repeat;
                                                        border: 1px solid #ddd;
                                                        border-radius: 50px;
                                                        transition: background-color .2s ease-in-out;
                                                        box-sizing: border-box;
                                                        
                                                    }
                                                }
                                            }
                                            .txtLink{
                                                position: absolute;
                                                z-index: 1;
                                                top: 0;
                                                right: 0;
                                                line-height: 26px;
                                            }
                                        }
                                        .listTxt{
                                            position: relative;
                                            padding-left: 8px;
                                            font-size: 14px;
                                            line-height: 20px;
                                            color: #666;
                                            word-break: keep-all;
                                            margin-top: 20px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .edit{
                        .btn{
                            margin-left: 40px;
                        }
                    }
                    .boxBtn{
                        display: flex;
                        flex-wrap: wrap;
                        margin-top: 40px;
                        width: 100%;
                        justify-content: center;
                        .btnBasic{
                            min-width: 128px;
                            height: 38px;
                            margin: 0 3px;
                            padding: 0 15px;
                            // line-height: 58px;
                            background-color: #535353;
                            border-color: #535353;
                            color: #fff;
                            span{   
                                position: relative;    
                            }
                        }
                    }

                }
            }
            //비밀번호변경
            .contents-box{
                #myPassword{
                    .title{
                        h2{
                            margin-bottom: 10px;
                        }
                        p{
                            font-size: 14px;
                        }
                    }
                    .cont_area{
                        padding-top: 40px;
                        .login_sec{
                            .member_info{
                                .table_col {
                                    //border-top: 1px solid #222;
                                    table{
                                        border: 1px solid #ddd;
                                        width: 100%;
                                        border-collapse: collapse;
                                        caption{
                                            font-size: 0;
                                            line-height: 0;
                                            text-indent: -9999px;
                                        }
                                        colgroup {
                                            display: table-column-group;
                                            unicode-bidi: isolate;
                                            .title{
                                                width: 18%;
                                            }
                                            .body{
                                                width: 82%;
                                            }
                                        }
                                        tbody {
                                            display: table-row-group;
                                            vertical-align: middle;
                                            unicode-bidi: isolate;
                                            border-color: inherit;
                                            tr{
                                                display: table-row;
                                                vertical-align: inherit;
                                                unicode-bidi: isolate;
                                                border-color: inherit;
                                                th{
                                                    padding-top: 22px;
                                                    padding-left: 40px;
                                                    background-color: #f8f8f8;
                                                    color: #222;
                                                    text-align: left;
                                                    padding: 23px 20px 21px 20px;
                                                    border-bottom: 1px solid #ddd;
                                                }
                                                td{
                                                    padding: 23px 20px 21px 20px;
                                                    border-bottom: 1px solid #ddd;
                                                    background-color: #fff;
                                                    .cont-box{
                                                        display: flex;
                                                        flex-direction: column;
                                                        .input_group{
                                                            padding-bottom: 0;
                                                            float: left;
                                                            .input_txt{
                                                                padding-right: 3px;
                                                                display: inline-block;
                                                                height: 34px;
                                                                vertical-align: middle;
                                                                zoom: 1;
                                                                .text{
                                                                    display: block;
                                                                    //width: 100%;
                                                                    width: 218px;
                                                                    height: 32px;
                                                                    padding: 0 15px;
                                                                    border: 1px solid #ddd;
                                                                    color: #888;
                                                                    font-size: 14px;
                                                                    line-height: 32px;
                                                                    vertical-align: top;
                                                                }
                                                            }
                                                            // .pwd_lv{
                                                            //     em {
                                                            //         display: inline-block;
                                                            //         height: 30px;
                                                            //         margin-top: 4px;
                                                            //         margin-left: 6px;
                                                            //         color: #ee3000;
                                                            //         font-size: 12px;
                                                            //         font-style: normal;
                                                            //     }
                                                            // }
                                                        }
                                                        .validator{
                                                            position: relative;
                                                            margin-top: 0.4rem;
                                                            padding: 0 1.5rem;
                                                            line-height: 1.3;
                                                            letter-spacing: -0.06rem;
                                                            font-size: 0.8rem;
                                                            color: red;
                                                            transition: color 0.3s ease;
                                                            &::before{
                                                                content: "";
                                                                position: absolute;
                                                                left: 0;
                                                                top: 0;
                                                                width: 1rem;
                                                                height: 1rem;
                                                                background-position: 0 0;
                                                                background-repeat: no-repeat;
                                                                background-size: 1rem auto;
                                                                background-image: url(../img/validator.svg);
                                                            }
                                                        }
                                                    }


                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .box_gray{
                                min-height: 1%;
                                padding: 30px;
                                background-color: #f8f8f8;
                                overflow: hidden;
                                margin-top: 60px;
                                .box_info{
                                    margin: 0;
                                    padding: 0;
                                    list-style: none;
                                    dt{
                                        color: #222;
                                        font-size: 18px;
                                    }
                                    dd{
                                        padding: 12px 0 0 0;
                                        .bul_list{
                                            padding-left: 5px;
                                            .dot_arr{
                                                display: block;
                                                margin-bottom: 6px;
                                                padding-left: 10px;
                                                background: url(../img/ico_dot.png) no-repeat 0 8px;
                                                color: #555;
                                                line-height: 1.5;
                                                
                                            }
                                        }
                                    }
                                }
                            }
                            .btn_sec{
                                margin-top: 30px;
                                text-align: center;
                                .btn{
                                    display: inline-block;
                                    min-width: 128px;
                                    height: 38px;
                                    margin: 0 3px;
                                    padding: 0 15px;
                                    border: 1px solid #535353;
                                    border-radius: 3px;
                                    background-color: #fff;
                                    color: #535353;
                                    text-align: center;
                                    line-height: 38px;
                                    vertical-align: middle;
                                    cursor: pointer;
                                    transition: border .5s, background .5s, color .5s;
                                }
                                .btn_em{
                                    background-color: #535353;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}